{% extends 'base.html' %}
{% block title %}About Planeteer{% endblock %}

{% block main %}
    <h1>About Planeteer</h1>

    <p>Planeteer was created by Vicky Rampin as a part of her internship in the <a href="https://library.nyu.edu/departments/barbara-goldsmith-preservation-conservation-department/">Barbara Goldsmith Preservation & Conservation Department</a> at <a href="https://library.nyu.edu">NYU Libraries</a> during her MS. CS. degree program at <a href="https://cims.nyu.edu/dynamic/">Courant Institute</a> at NYU. She was fortunate to be advised by <a href="https://library.nyu.edu/people/jessica-pace/">Jessica Pace</a> and <a href="https://library.nyu.edu/people/laura-mccann/">Laura McCann</a>.</p>

    <p>The ultimate goal of Planeteer was to enable the workers in the Preservation & Conservation department to export all the data they were receiving from environmental loggers placed in rooms across NYU's multiple libraries and buildings, merge it into one place, and create meaningful extracts and visualizations.</p>
{% endblock %}
