<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='custom.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='datatables.min.css')}}">
    {% block extrastyles %}
    {% endblock %}
</head>

<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary pb-3 mb-4">
            <div class="container">
                <a class="navbar-brand" href="#">Planeteer <img src="{{url_for('.static', filename='logo.png')}}" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Home<span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('form') }}">Upload data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('view') }}">Query & extract data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('report') }}">Visualize data</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About️</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.com/VickyRampin/environmental_data_processing">Source code ↗️</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="container">
        {% block main %}
        {% endblock %}

    <div class="b-example-divider"></div>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-10 d-flex align-items-center">
            <p>Date updated: <span class="text-muted">2022-08-30</span> | <a href="mailto:vs77@nyu.edu">Contact maintainer</a></p>
        </div>

        <ul class="nav col-md-2 justify-content-end list-unstyled d-flex">
          <li><a href="https://gitlab.com/VickyRampin/environmental_data_processing">GitLab repository ↗️</a></li>
        </ul>
      </footer>
    </div>
    </div>

    <script type="text/javascript" src="{{url_for('.static', filename='jquery-3.6.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='datatables.min.js')}}"></script>
    {% block extrascripts %}
    {% endblock %}


</body>
</html>