{% extends 'base.html' %}

{% block title %}Explore environmental data{% endblock %}

{% block main %}
<h1 class="mb-3">Explore environmental data</h1>

    <div class="table-responsive">
        <table class="table table-bordered" id="table_data">
            <caption>List of measurements taken.</caption>
            <thead>
            <tr>
              <th scope="col">Date measured<br/></th>
              <th scope="col">Logger<br/></th>
              <th scope="col">Room<br/></th>
              <th scope="col">Temperature<br/></th>
              <th scope="col">Relative Humidity<br/></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for measure in measurements %}
                    <tr>
                        <td>{{measure.timedate}}</td>
                        <td>{{measure.logger_id}}</td>
                        <td>{{measure.location}}</td>
                        <td>{{measure.temperature}}</td>
                        <td>{{measure.relative_humidity}}</td>
                    </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>

{% endblock %}
{% block extrascripts %}
    <script>
        $(document).ready(function () {

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            var today = yyyy + '-' + mm + '-' + dd ;

            $('#table_data').DataTable({
                searchBuilder: {
                    depthLimit: 3
                },
                language: {
                    searchBuilder: {
                        title: {
                            0: 'Advanced filtering',
                            1: '1 filter',
                            _: '%d filters'
                        },
                        clearAll: 'Reset',
                        right: 'Indent right >',
                        left:  'Outdent left <',
                        delete: 'Delete condition',
                        logicAnd: 'AND',
                        logicOr: 'OR'
                    }
                },
                dom: 'QBrtip',
                buttons: {
                    dom: {
                      button: {
                        tag: 'button',
                        className: ''
                      }
                    },
                    buttons: [
                    {
                      extend: 'pageLength',
                      className: 'btn btn-md btn-outline-primary',
                    },{
                      extend: 'copy',
                      className: 'btn btn-md btn-outline-primary',
                      titleAttr: 'Copy table data.',
                      text: 'Copy data'
                    },{
                      extend: 'csv',
                      className: 'btn btn-md btn-outline-primary',
                      titleAttr: 'CSV export.',
                      text: 'Export to CSV',
                      filename: today + '_measurements',
                      extension: '.csv'
                    },
                    {
                      extend: 'colvis',
                      className: 'btn btn-md btn-outline-primary',
                      titleAttr: 'Column visibility settings.',
                      text: 'Column Visibility'
                    }]
                }
            });
        });
    </script>
{% endblock %}