{% extends 'base.html' %}
{% block title %}Planeteer - wrangle logger data{% endblock %}

{% block main %}
    <h1>Planeteer <img src="{{url_for('.static', filename='logo_dark.png')}}"> <span class="text-muted">here to wrangle your environmental data</span></h1>

    <p>Planeteer is a web app for processing environmental data that comes from loggers in Galleries, Libraries, Archives, and Museums (GLAMs).</p>

    <p>You can upload CSV or PEM2 files into the database, and then create extracts and meaningful visualizations from them easily!</p>

{% endblock %}
