{% extends 'base.html' %}

{% block title %}Visualize data{% endblock %}

{% block main %}

    <h1 class="mb-4">Generate visuals of environmental data</h1>

    <p>Use this form to create parameters for your visualization:</p>

    <form class="row gy-2 gx-3 align-items-center" method = "GET">
      <div class="col-auto">
            <label for="autoSizingInputGroup">Start date</label>
            <input type="date" aria-label="Start date" class="form-control" name="startDate" value="{{ startDate }}">
      </div>
      <div class="col-auto">
          <label for="autoSizingInputGroup">End date</label>
          <input type="date" aria-label="End date" class="form-control" name="endDate" value="{{ endDate }}">
      </div>
    <!--
      <div class="col-auto">
        <label for="autoSizingSelect">Timescale</label>
        <select class="form-select" id="autoSizingSelect" name="timescale">
          <option>Choose...</option>
          <option value="daily" {% if timescale == 'daily' %} selected{% endif %}>Daily</option>
          <option value="weekly" {% if timescale == 'weekly' %} selected{% endif %}>Weekly</option>
          <option value="monthly" {% if timescale == 'monthly' %} selected {% endif %}>Monthly</option>
        </select>
      </div>-->
      <div class="col-auto">
        <label for="autoSizingSelect">Room</label>
        <select class="form-select" id="autoSizingSelect" name="room">
            {% for r in rooms %}
                <option value="{{ r }}" {% if room == r %}selected{% endif %}>{{ r }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    {% if startDate or endDate or room %}

        <h2 class="mt-4 pt-2 border-top">Statistics about {{ room }}</h2>

        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col" class="visually-hidden">Measure</th>
                <th scope="col">Mean</th>
                <th scope="col">Median</th>
                <th scope="col">Standard Deviation</th>
                <th scope="col">Minimum</th>
                <th scope="col">Maximum</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="table-primary">Temperature</th>
                    <td>{{ stats.temp_avg }}</td>
                    <td>{{ temp_median }}</td>
                    <td>{{ stats.temp_stddev }}</td>
                    <td>{{ stats.temp_min }}</td>
                    <td>{{ stats.temp_max }}</td>
                </tr>
                <tr>
                  <th scope="row" class="table-primary">Relative humidity</th>
                    <td>{{ stats.rh_avg }}</td>
                    <td>{{ rh_median }}</td>
                    <td>{{ stats.rh_stddev }}</td>
                    <td>{{ stats.rh_min }}</td>
                    <td>{{ stats.rh_max }}</td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="row">
            <div class="col-5">
                {{ div | safe }}
            </div>

            <div class="col-5">
                {{ div2 | safe }}
            </div>
        </div>

    {% endif %}

{% endblock %} 

{% block extrascripts %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.3.min.js"></script>
    {{ script | safe }}
    {{ script2 | safe }}
{% endblock %}