{% extends 'base.html' %}

{% block title %}Upload a PEM2 file{% endblock %}

{% block main %}

    <h1 class="mb-4">Upload new data</h1>

    <p>After you receive data from your loggers, upload it here in order to query it and visualize it.</p>

    <form action = "/upload" method = "POST" enctype = "multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label">Select CSV or PEM2 files for upload</label>
            <input type = "file" name = "file" accept=".pm2" class="form-control form-control-lg" data-show-upload="false" data-show-caption="true" multiple/>
        </div>
        <button type="submit" class="btn btn-lg btn-outline-primary" value = "Submit">Submit</button>
    </form>

{% endblock %} 
 
